body{
    font-family: 'roboto',sans-serif;
    color:#757575;
    font-weight: 400;
    margin: 0px;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
li{
    padding: 0;
    margin: 0;
    display: inline;
}
header{
    border-bottom: 1px solid;
    border-color:#ECECEC;
    background-color: #fff;
}
footer{
    border-top: 1px solid;
    border-color:#F5F4FA;
    height: 252px;
    background-color: #2F303A;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
html {
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: inherit;
}
footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
/*hedder*/
.logo{
    color: #2196F3;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.0488rem;
}
.site-nav-container{
    box-sizing: content-box;
    padding-left: 93px;
}
.studio{
    color: #000;
}
.site-nav{
    
   padding-right: 50px;
}
.menu-item{
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
}
.menu-link{
    letter-spacing: 0.0175em;
    font-weight: 500;
    color: #212121;
    text-decoration: none;
    line-height: 1.14;
    font-size: 14px;
}
.menu-link:hover{
    color: #2196F3;
}
.menu-link:focus{
    color: #2196F3;
}
.nav-container{
    display: flex;
    margin-left: auto;
}
.nav-contact{
    display: flex;
}  
.contact-link{
    align-items: center;
    padding-left: 10px;
    padding-right: 50px;
    letter-spacing: 0.0175em;
    text-decoration: none;
    font-weight: 500;
    color: #757575;
    line-height: 1.14;
    font-size: 14px;
    display: flex;
}
.contact-link:hover{
    color: #2196F3;
}
.contact-link:focus{
    color: #2196F3;
}
.icon-hedder{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}
.icon-hedder-phone{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
/*main-section1*/
.main-title-container{   
    flex-direction: column;
    align-items: center;
    display: flex;
}
.main-section{  
    margin-left: auto;
    margin-right: auto;
    max-height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right ,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/image_main-section-2.jpg);
    background-color: #2F303A;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-title{
    max-width: 696px;
    max-height: 120px;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    color: #fff;
    line-height: 1.36;
}
.button{
    border: 0px;
    border-radius: 4px;
    margin-top: 30px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    font-weight: 700;
    background-color: #2196F3;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.0165em
}
.button:hover{
    color: #fff;
    background-color: #188CE8;
}
.button:focus{
    color: #fff;
    background-color: #188CE8;
}
/*main-section2*/
.motto-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.motto-container{
 
}
.motto{
    display: flex;
}
.motto-list{
    margin-right: 30px;
    display: block;
}
.motto-list::before{
    content: '';
    display: block;
    height: 120px;
    background-image: url(../images/antenna\ 1sputnik.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
.motto-list:nth-child(1)::before{
    content: '';
    display: block;
    height: 120px;
    background-image: url(../images/antenna\ 1sputnik.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}
.motto-list:nth-child(2)::before{
    content: '';
    display: block;
    height: 120px;
    background-image: url(../images/clock\ 1clok.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}
.motto-list:nth-child(3)::before{
    content: '';
    display: block;
    height: 120px;
    background-image: url(../images/diagram\ 1computer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}
.motto-list:nth-child(4)::before{
    content: '';
    display: block;
    height: 120px;
    background-image: url(../images/astronaut\ 1kosmodesant.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}
.main-motto{
    margin-bottom: 10px;
    font-family:'roboto';
    font-weight: 700;
    line-height: 1.14;
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.0262em;
}
.paragraph{
    width: 270px;
    height: 75px;
    line-height: 1.71;
    font-size: 14px;
    letter-spacing: 0.0262em;
    }
/*main-section3*/
.lessons-section{
    padding-bottom: 94px;
}
.lessons-title{
        margin: 0 auto;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.17;
        color: #212121;
        letter-spacing: 0.0675rem;
    }
.lessons-list-photto{
    margin-top: 50px;
    display: flex;
}    
.lessons-list{
    margin-right: 30px;
}
/*main-section4*/
.lessons{
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    color: #212121;
    letter-spacing: 0.0675em;
}
.person-container{
   
}
.person{
    display: flex;
    justify-content: center;
}
.team{
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: #F5F4FA;
}
.person-list{
    width: 270px;
    max-height: 428px;
    padding-right: 30px;
}
.person-list-photto{
    
}
.name{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    color: #212121;
    letter-spacing:0.03em;
}
.post{
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.person-name-post{
    margin-top: 30px;
}
.actions{
    display: flex;
    padding: 0;
    margin: 0 auto;
    width: 206px;
    height: 44px;
}
.button-icon{
    color: #afb1b8;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    padding: 0;
    height: 44px;
    width: 44px;
    margin-right: 10px;
}
.button-icon:hover{
    color: #fff;
    background-color: #2196F3;
    fill: #fff;
}
.icon{
    fill: currentColor;
    width: 20px;
    height: 20px;
}
.icon:hover{
    fill: currentColor;
}
.icon-container{
margin-top: 16px;
padding-bottom: 30px;
}
/*main-section5*/
.client-title{
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    color: #212121;
    letter-spacing: 0.0675rem;
    margin-bottom: 50px;
}
.client{
    padding-top: 94px;
    padding-bottom: 94px;
}
.client-icon-button{
    display: flex;
}
.client-button{
    cursor: pointer;
    width: 170px;
    height: 92px;
    margin-right: 30px;
    border: 1px solid #AFB1B8;
    border-radius: 4%;
    background-color: #fff;
    color: #afb1b8;
}
.client-button:hover{
    color: #2196F3;
    border: 1px solid #2196F3;
}
.client-icon{
    width: 106px;
    height: 60px;
    fill: currentColor;
}
.client-icon:hover{
    fill: currentColor;
}

/*footer*/
.footer-container{
display: flex;
}
.footer-logo{
    background-color: #2F303A;
    color: #2196F3;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.0488em;
}
.footer-studio{
    color: #fff;
}
.addres-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.addres-list-item{
    margin-bottom: 9px;
}
.address{
    font-style: normal;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.0262em;
}
.footer-contact{
    letter-spacing: 0.0262em;
    line-height: 1.71;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover{
    color: #2196F3;
}
.footer-contact:focus{
    color: #2196F3;
}

.address:hover{
    color: #2196F3;
}
.address:focus{
    color: #2196F3;
}
.fotter-icon-container{
    width: 206px;
    height: 80px;
    margin-left: 70px;
    margin-top: 12px;
}
.fotter-icon-title{
    font-family:'roboto';
    font-weight: 700;
    line-height: 1.14;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.0262em;
}
.footer-icon-list{

    margin-top: 20px;
    display: flex;
}
.footer-button-icon{
    color: #fff;
    background-color:  rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.footer-button-icon:hover{
    background-color: #2196F3;
}
.footer-icon{
    fill: currentColor;
    width: 20px;
    height: 20px;
}
/*main-portfolio*/
.portfolio-container{
}
.section-portfolio{
padding-top: 94px;
padding-bottom: 94px;
}
.button-potfolio{
    margin-bottom: 50px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
   
}
.button-portfolio-list{
    padding-right: 8px;
}
.button-list{
    border: none;
    border-radius: 4%;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    letter-spacing: 0.03em;
    color: #212121;
    font-weight: 500;
    line-height: 1.62;
    background-color: #F5F4FA;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto' , sans-serif;
}
.button-list:hover{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #fff;
    background-color: #2196F3;
}
.button-list:focus{
    color: #fff;
    background-color: #2196F3;
}
.list-photo-portfolio{
    box-sizing: unset;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.list-foto-container{
 width: 1200px;
}
.list{
 margin-right: 30px;
 margin-bottom: 30px;
}
.list:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.photto{
   
}
.list-portfolio-container{
border:1px solid #eee ;
padding-left: 24px;
padding-top: 20px;
padding-right: 24px;
padding-bottom: 20px;
}
.list-bottom{
    margin-right: 30px;
    margin-bottom: -0 auto;
}
.list-bottom:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.list-portfolio{
    letter-spacing: 0.0675em;
    font-size: 18px;
    font-weight: 700;
    color: #212121;
    line-height: 2;
}
.title-portfolio{
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}
.container{
   padding-left: 15px;
   padding-right: 15px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.menu-flex{
    display: flex;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
}
.lessons-container{
    width: 1200px;
}
.person-list-container{
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}




