body{
    font-family: 'roboto',sans-serif;
    color:#757575;
    font-weight: 400;
    margin: 0px;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
li{
    display: inline;
}
header{
    border-bottom: 1px solid;
    border-color:#ECECEC;
    background-color: #fff;
}
footer{
    border-top: 1px solid;
    border-color:#F5F4FA;
    height: 252px;
    background-color: #2F303A;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}
html {
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: inherit;
}
footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
/*hedder*/
.logo{
    color: #2196F3;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.0488rem;
}
.site-nav-container{
    box-sizing: content-box;
    padding-left: 93px;
}
.studio{
    color: #000;
}
.site-nav{
    
   padding-right: 50px;
}
.menu-item{
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
}
.menu-link{
    letter-spacing: 0.0175rem;
    font-weight: 500;
    color: #212121;
    text-decoration: none;
    line-height: 1.14;
    font-size: 14px;
}
.menu-link:hover{
    color: #2196F3;
}
.menu-link:focus{
    color: #2196F3;
}
.nav-container{
    display: flex;
    margin-left: auto;
}
.nav-contact{
   

}  
.contact-link{
    padding-left: 25px;
    padding-right: 25px;
    letter-spacing: 0.0175rem;
    text-decoration: none;
    font-weight: 500;
    color: #757575;
    line-height: 1.14;
    font-size: 14px;
}
.contact-link:hover{
    color: #2196F3;
}
.contact-link:focus{
    color: #2196F3;
}
/*main-section1*/
.main-title-container{   
    flex-direction: column;
    align-items: center;
    display: flex;
}
.main-section{  
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
}
.main-title{
    max-width: 696px;
    max-height: 120px;
    text-align: center;
    letter-spacing: 0.165rem;
    font-weight: 900;
    font-size: 44px;
    color: #fff;
    line-height: 1.36;
}
.button{
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    font-weight: 700;
    background-color: #2196F3;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.0165rem
}
/*main-section2*/
.motto-section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.motto-container{
 
}
.motto{
    justify-content: center;
    max-width: 1170px;
    display: flex;
}
.motto-list{
    display: block;
    width: 270px;
    height: 101px;
}
.main-motto{
    font-family:'roboto';
    font-weight: 700;
    line-height: 1.14;
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.0262rem;
}
.paragraph{
    width: 270px;
    height: 75px;
    line-height: 1.71;
    font-size: 14px;
    letter-spacing: 0.0262rem;
    }
/*main-section3*/
.lessons-section{
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.lessons-container{

}
.lessons-title{
        margin: 0 auto;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.17;
        color: #212121;
        letter-spacing: 0.0675rem;
    }
.lessons-list-photto{
    margin-top: 50px;
    display: flex;
}    
.lessons-list{
    margin-left: 15px;
    margin-right: 15px;
}
/*main-section4*/
.lessons{
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    color: #212121;
    letter-spacing: 0.0675rem;
}
.person-container{
   
}
.person{
    display: flex;
    justify-content: center;
}
.team{
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: #F5F4FA;
}
.person-list{
    padding-right: 30px;
}
.person-list-photto{
    
}
.name{
    padding-top: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    color: #212121;
    letter-spacing:0.03rem;
}
.post{
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03rem;
}
.person-name-post{
    padding-top: 30px;
    padding-bottom: 30px;
}
/*footer*/
.footer-container{

}
.footer-logo{
    background-color: #2F303A;
    color: #2196F3;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.0488rem;
}
.footer-studio{
    color: #fff;
}
.addres-list{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.addres-list-item{
    padding-bottom: 9px;
}
.address{
    font-style: normal;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.0262rem;
}
.footer-contact{
    letter-spacing: 0.0262rem;
    line-height: 1.71;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.footer-contact:hover{
    color: #2196F3;
}
.footer-contact:focus{
    color: #2196F3;
}

.address:hover{
    color: #2196F3;
}
.address:focus{
    color: #2196F3;
}
/*main-portfolio*/
.portfolio-container{
}
.section-portfolio{
padding-top: 94px;
padding-bottom: 94px;
}
.button-potfolio{
    margin-bottom: 34px;
    box-sizing: content-box;
    height: 54px;
    display: flex;
    justify-content: center;
   
}
.button-portfolio-list{
    padding-right: 8px;
}
.button-list{
    border-radius: 4%;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    letter-spacing: 0.03rem;
    color: #212121;
    font-weight: 500;
    line-height: 1.62;
    background-color: #F5F4FA;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto' , sans-serif;
}
.button-list:hover{
    color: #fff;
    background-color: #2196F3;
}
.button-list:focus{
    color: #fff;
    background-color: #2196F3;
}
.list-photo-portfolio{

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.list-foto-container{
 
}
.list{
 margin-right: 30px;
 margin-bottom: 30px;
}
.photto{
   
}
.list-portfolio-container{
border:1px solid #eee ;
padding-left: 24px;
padding-top: 20px;
padding-right: 24px;
padding-bottom: 20px;
}
.list-portfolio{
    letter-spacing: 0.0675rem;
    font-size: 18px;
    font-weight: 700;
    color: #212121;
    line-height: 2;
}
.title-portfolio{
    letter-spacing: 0.03rem;
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}
.container{
   
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
.menu-flex{
    display: flex;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
}
