.footer-container {
    display: flex;
  }
  
  .footer-address__logo {
    background-color: #2F303A;
    color: #2196F3;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.0488em;
  }
  
  .footer-address__studio {
    color: #fff;
  }
  
  .footer-address__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .footer-address__item {
    margin-bottom: 9px;
  }
  
  .footer-address__address{
    font-style: normal;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.0262em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{color: #2196F3;};
    &:focus{color: #2196F3;}
  }
  
 
  
  .footer-address__link{
    letter-spacing: 0.0262em;
    line-height: 1.71;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{color: #2196F3;}
    &:focus{color: #2196F3;}
  }
  
