.hero-section {
    margin-left: auto;
    margin-right: auto;
    max-height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/image_main-section-2.jpg);
    background-color: #2F303A;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .hero-section__inner {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  
  .hero-section__title {
    max-width: 696px;
    max-height: 120px;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: 900;
    font-size: 44px;
    color: #fff;
    line-height: 1.36;
  }
  
  .hero-section__button {
    border: 0px;
    border-radius: 4px;
    margin-top: 30px;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    font-weight: 700;
    background-color: #2196F3;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.0165em;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    &:hover {
      color: #fff;
      background-color: #188CE8;
    }
    &:focus {
      color: #fff;
      background-color: #188CE8;
    }
  }
  