body {
    font-family: "roboto", sans-serif;
    color: #757575;
    font-weight: 400;
    margin: 0px;
    padding: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  li {
    padding: 0;
    margin: 0;
    display: inline;
  }
  
  header {
    border-bottom: 1px solid;
    border-color: #ECECEC;
    background-color: #fff;
  }
  
  footer {
    border-top: 1px solid;
    border-color: #F5F4FA;
    height: 252px;
    background-color: #2F303A;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  textarea {
    resize: none;
  }